/* @mixin Init{
    margin: 0;
    padding: 0;
} */
@import "../../../mixins.scss";
.navBar{
    @include screenMargin();
    height: 56px;
    background-color: #25313F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include fontFamily();
    @include font16();
    .navLeft{
        display: flex;
        align-items: center;
        color: #3FD28B;
    }
    >.navRight{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        >.section-item{
            // margin: 0;
            // padding: 0;
            cursor: pointer;
            text-transform: uppercase;
            height: 100%;
            color: #3FD28B;
            // border-bottom: 1px solid #3FD28B;
            width: 108px;
            @include flexCenter();
        }
        >.clicked{
            color: #FFFFFF;
            border-bottom: 4px solid #FFFFFF;
            height: 93%;
        }
        .navprofile{
            background-color: #3C4E62;
            border: 2px solid #3FD28B;
            border-radius: 50%;
            padding: 5px;
        }
    }   
}