/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "./mixins.scss";
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    padding: 0px;
    // background-color: #EEEEEE;
    @include fontFamily();
    *{
        margin: 0;
    }
}